
slide {
  background: url(figures/cream_dust.png) repeat 0 0;
}

h1, h2 {
  padding: 5px;
  padding-left: 10px;
  box-shadow: 1px 1px 5px 5px #ccc;
  margin: 25px;
  text-shadow: 3px 3px 3px #ccc;
}

p, div, li {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}

#the-data img {
  border: 2px solid darkblue;
}

#thanks li {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
