
slide {
  background: url(figures/cream_dust.png) repeat 0 0;
}

h2 {
  padding: 5px;
  padding-left: 10px;
  box-shadow: 1px 1px 5px 5px #ccc;
  margin: 25px;
  text-shadow: 3px 3px 3px #ccc;
}

slide > article {
  padding 5px;
  border 5px solid red;
}

p, div, li {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}